*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Inter', sans-serif;
}
body{
    background-color: rgb(230, 230, 230);
}
.App{
    overflow-x: hidden;
    display: flex;
    height: 100%;
    position: relative;
    display: grid;
    overflow-y: hidden;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 90px calc(100vh - 90px);
}
.btn{
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: .5rem;
    font-size: 1rem;
    font-weight: 400;
    padding: .5em 0;
    font-weight: 600;
    transition: all 100ms ease-in-out;
    word-wrap:break-word;
}
.card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2.5rem;
    position: relative;
    background-color: white;
    padding: 2.25em 1.5em;
    height: 180px;
    border-radius: .5rem;
    box-shadow: 2px 2px 4px 0 rgba(125, 125, 125, 1);
    transition: background-color 150ms ease-in-out;
    .id{
        position: absolute;
        top: .75rem;
        left: 1.5rem;
        padding: .5em 1em;
        background-color: rgb(230, 230, 230);
        border-radius: .25rem;
        text-transform: uppercase;
        font-size: .75rem;
        font-weight: 600;
    }
    .personal-information{
        display: flex;
        flex-direction: column;
        gap: .25rem;
        color: #444;
        height: 80%;
        width: 90%;
        .header-header{
            display: flex;
            align-items: baseline;
            gap: .25rem;
            color: #333;
        }
        h5, h4, h3{
            font-weight: 400;
        }
    }
    .buttons{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;
        gap: .75em;
        width: 10%;
        height: 80%;
        .btn{
            padding: .5em 1em;
            font-weight: 600;
            color: white;
            border-color: black;
            text-overflow: ellipsis;
            width: 100px;
            
        }
        .edit{
            background-color: rgba(0, 180, 0, .7);
            &:hover{
                background-color: rgba(0, 220, 0, 1);
            }
        }
        .delete{
            background-color: rgba(180, 4, 4, .7);
            &:hover{
                background-color: rgba(200, 4, 4, 1);
            }
        }
        .schedule{
            background-color: rgba(113, 170, 255, 0.7);
            &:hover{
                background-color: rgba(113, 170, 255, 1);
            }
        }
        .reschedule{
            background-color: rgba(122, 148, 187, 0.7);
            &:hover{
                background-color: rgba(122, 148, 187, 1);
            }

        }
    }
    &:hover{
        background-color: rgba(240, 240, 240, 1);
    }
}

.modal-form{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(125, 125, 125, 0.5);
    z-index: 1000;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;

    .modal-form-main{
        position: relative;
        background-color: white;
        width: 500px;
        height: auto;
        padding: 1em 2em;
        border-radius: .75rem;
        box-shadow: 3px 3px 3px 0 #777;

        .close{
            position: absolute;
            top: 1rem;
            right: 1rem;
            background-color: transparent;
            padding: 0;
            &:hover{
                color: rgba(113, 170, 255, 1);
            }
        }
        
        .modal-form-header{
            text-transform: uppercase;
            align-self: center;
            margin: 1rem .5rem;
            text-align: center;
            border-bottom: 2px solid #333;
        }

        .modal-form-body{
            display: flex;
            flex-direction: column;

            label{
                margin-bottom: .25rem;
            }
            input, #date-time, select{
                margin-bottom: .75rem;
            }
            textarea{
                min-height: 60px;
                resize: vertical;
                margin-bottom: .75rem;
            }

            .submit{
                color: white;
                margin-top: 1rem;
                background-color: rgba(113, 170, 255, 0.7);
                &:hover{
                    background-color: rgba(113, 170, 255, 1);
                }
            }
        }
    }
}
.header{
    width: 100vw;
    height: 90px;
    grid-column: span 12;
    background-color: #EFEFEF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat';
    text-align: center;
    padding-block: .75rem;
    z-index: 999;

    .clockwork-logo-text{
        font-family: inherit;
        text-decoration: none;
        color: black;
        font-weight: 900;
        font-size: 1.75rem;
        letter-spacing: .35rem;
        
        h1{
            font-family: inherit;
            font-weight: 900;
            text-transform: uppercase;
            span{
                font-family: inherit;
                color: #36CBC2;
            }
        }
    }

    .logout{
        background-color: #EFEFEF;
        right: 2rem;
        padding: .5em 1em;
        color: #36CBC2;
        position: absolute;
        &:hover{
            background-color: whitesmoke;
        }
    }
}
.landing-page{
    background-color: #404040;
    width: 100vw;
    height: 100%;
    font-family: 'Montserrat';
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    position: relative;

    .login-form-overlay{
        background-color: rgba(64,64,64, .9);
        position: absolute;
        top: -2.5rem;
        bottom: 0;
        right: 0;
        left: 0;
        width: 100vw;
        height:100vh;
        z-index: 10;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .login-form{
        background-color: #808080;
        padding: 2em 3em;
        width: 25rem;
        height: 30rem;
        display: flex;
        border-radius: 1.5rem;
        flex-direction: column;
        align-items: center;
        color: white;
        font-family: 'Montserrat';
        gap: 3rem;

        &-header{
            text-align: center;
            position: relative;
            display: flex;
            justify-content: center;
            width: 100%;

            &-text{
                text-transform: uppercase;
                font-weight: 700;
                font-size: 1.75rem;
                font-family: inherit;
                letter-spacing: .25rem;
            }

            .close{
                position: absolute;
                padding: 0;
                background-color: transparent;
                right: -1rem;
                top: 0;
            }
        }

        &-field{
            align-self: center;
            width: 20rem;
            margin: 0 25%;
            display: flex;
            flex-direction: column;
            &-label{
                position: relative;
                margin-bottom: .5rem;
                
                &-icon{
                    position: absolute;
                    top: 0;
                    left: 0;
                }
                &-text{
                    margin-left: 2rem;
                    font-weight: 400;
                    text-transform: uppercase;
                    font-size: 1.25rem;
                    letter-spacing: .25rem;
                }
            }
            &-input{
                outline: none;
                border: none;
                border-radius: .25rem;
                padding: .5em .25em;
                width: 100%;

            }
            .password .password-toggle-btn{
                background-color: transparent;
            }
        }

        .login{
            font-size: 1.5rem;
        }
        .password{
            position: relative;
            &-toggle-btn{
                position: absolute;
                top: .25rem;
                right: .5rem;
                background-color: white;
                padding: 0;
            }
        }

    }

    &-welcome{
        margin-top: 5rem;
        font-family: inherit;
        text-transform: uppercase;
        font-weight: 900;
        font-size: 6rem;
        letter-spacing: .35rem;
        text-align: center;
        color: white;
        
        span{
            font-family: inherit;
            color: #36CBC2;
        }
    }

    .login{
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: inherit;
        padding: .25em 1em;
        border-radius: 5rem;
        background-color: #36CBC2;
        text-transform: uppercase;
        color: white;
        font-weight: 700;
        font-size: 1.75rem;
        gap: 1.5rem;
        transition: 150ms ease-in;
        &:hover{
            transform: scale(1.05);
        }
    }

    &-clockwork-logo{
        transform: rotate(0);
        transition: transform 600ms ease-in-out;
        &:hover{
            transform: rotate(360deg);
        }
    }

}
.left-section{
    grid-column: span 2;
    padding: 1.75em 1.5em;
    background-color: rgba(125, 125, 125, 1);
    height: 100vh;
}
.navbar{
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .btn{
        margin-bottom: .75rem;
        background-color: white;
        color: black;
        transition: all 100ms ease-in-out;
        min-width: 130px;
        
        &:hover{
            color: white;
            background-color: black;
        }
    }
    .accounts{
        margin-bottom: 3.25rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-bottom: 2px solid white;
        
        .accounts-header{
            text-transform: uppercase;
            align-self: center;
            letter-spacing: .1rem;
            margin: 1rem;
            text-align: center;
            color: white;
        }
        .accounts-select{
            width: 80%;
            margin-bottom: 1.5rem;
            padding: .5em .75em;
            font-family: inherit;
            font-weight: 600;
            outline: none;
            border: 1px solid black;
            border-radius: .25rem;
        }

    }
}
.form{
    margin-top: 3.25rem;
    border-top: 2px solid white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: white;

    .form-header{
        text-transform: uppercase;
        align-self: center;
        letter-spacing: .1rem;
        margin: 1rem;
        text-align: center;
    }

    label{
        margin: .25rem 0;
    }

    input{
        padding: .5em .75em;
        font-size: .75rem;
        font-weight: 300;
        outline: none;
        border-radius: .25rem;
        border: 3px solid rgba(0,0,0, 0.6);
        transition: border 150ms ease-in-out;
        
        &:hover, &:focus{
            border: 3px solid rgba(0,0,0, 1); 
        }
    }
    .btn{
        margin: 2rem 0;
        background-color: white;
        color: black;
        transition: all 100ms ease-in-out;
        
        &:hover{
            color: white;
            background-color: black;
        }
    }
}
.main{
    grid-column: span 10;
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    position: relative;
    .card-container{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
        justify-content: flex-start;
        align-content: baseline;
        gap: 1rem;
        padding: 1em;
        background-color: rgb(230, 230, 230);
        position: relative;
        overflow-y: scroll;
    }
    .table-container{
        overflow-y: scroll;
        max-height: 100%;
    }
    .detail-container{
        width: 100%;
        display: table;
        padding: 0;
        text-indent: .5rem;
        background-color: rgb(230, 230, 230);
        position: relative;
        .row{
            display: table-row;
            height: 20px;
            max-height: 50px;

            .cell{
                display: table-cell;
                border-left: 1px solid rgba(0,0,0, 0.1);
                border-bottom: 1px solid rgba(0,0,0, 0.1);
            }
        }
        .row:last-child{
            .cell{
                border-bottom: 1px solid rgba(0,0,0, 0.5);
            }
        }

        
    }
}
.horizontal-navbar{
    background-color: rgba(100, 100, 100, 1);
    padding: 1.25em;
    width: 100%;
    color: white;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    .function{
        display: flex;
        gap: .1rem;
        align-items: flex-end;
        .function-title{
            align-self: center;
            letter-spacing: .1rem;
        }
        .function-inputs{
            display: flex;
            align-items: center;
            justify-content: center;
            column-gap: 1rem;
            .filter-text{
                position: relative;
                &-input{
                    padding: .25rem;
                    border-radius: .25rem;
                    outline: none;
                    border: none;
                }
                &-icon{
                    position: absolute;
                    right: .5rem;
                    width: 18px;
                    fill: white;
                }
            }
            .filter-select{
                padding: .2rem;
                border-radius: .25rem;
                outline: none;
                border: none;
            }
        }
    }
    .limit{
        width: 200px;
        .limit-select{
            padding: .2rem;
            border-radius: .25rem;
            outline: none;
            border: none;
            align-self: center;
            width: 5rem;
        }
    }

    .refresh{
        padding: 0;
        background-color: transparent;
        align-self: center;
    }
}
.pagination{
    justify-content: center;
    gap: 1rem;
    &-btn{
        padding: .5em;
        background-color: rgba(255, 255, 255, 1);
        &:hover{
            transform: scale(1.2);
        }
    }
    .active{
        transform: scale(1.3);
        background-color: rgba(0,0,0, 0.8);
        color: white;
    }
    .number{
        width: calc(20px + 1em);
        border-radius: 50%;
    }
}
.detail-header{
    background-color: rgba(125, 125, 125, 1);
    display: table-header-group;
    height: 50px;
    max-height: 50px;
    color: white;
    font-size: .75rem;
    font-weight: 800;
    letter-spacing: 1.5px;
    text-align: center;
    text-indent: 0;
    .cell{
        border: none;
        border-bottom: 1px solid rgba(0,0,0, 0.4);
    }
}
.detail{
    font-size: .75rem;  
}