* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

body {
  background-color: #e6e6e6;
}

.App {
  height: 100vh;
  overflow-x: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  position: relative;
}

.btn {
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: .5rem;
  font-size: 1rem;
  font-weight: 400;
  padding: .5em 0;
  font-weight: 600;
  -webkit-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  background-color: white;
  padding: 3.25em 1.5em;
  border-radius: .5rem;
  -webkit-box-shadow: 2px 2px 4px 0 #7d7d7d;
          box-shadow: 2px 2px 4px 0 #7d7d7d;
  -webkit-transition: background-color 150ms ease-in-out;
  transition: background-color 150ms ease-in-out;
}

.card .id {
  position: absolute;
  top: .75rem;
  left: 1.5rem;
  padding: .5em 1em;
  background-color: #e6e6e6;
  border-radius: .25rem;
  text-transform: uppercase;
  font-size: .75rem;
  font-weight: 600;
}

.card .personal-information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: .25rem;
  color: #444;
}

.card .personal-information .header-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  gap: .25rem;
  color: #333;
}

.card .personal-information h4 {
  font-weight: 400;
}

.card .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: .75em;
  width: 150px;
}

.card .buttons .btn {
  padding: .5em 1.25em;
  font-weight: 600;
  color: white;
  border-color: black;
}

.card .buttons .edit {
  background-color: rgba(0, 180, 0, 0.7);
}

.card .buttons .edit:hover {
  background-color: #00dc00;
}

.card .buttons .delete {
  background-color: rgba(180, 4, 4, 0.7);
}

.card .buttons .delete:hover {
  background-color: #c80404;
}

.card .buttons .schedule {
  background-color: rgba(113, 170, 255, 0.7);
}

.card .buttons .schedule:hover {
  background-color: #71aaff;
}

.card .buttons .reschedule {
  background-color: rgba(122, 148, 187, 0.7);
}

.card .buttons .reschedule:hover {
  background-color: #7a94bb;
}

.card:hover {
  background-color: #f0f0f0;
}

.contact-form {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 20%;
  right: 0;
  background-color: rgba(125, 125, 125, 0.5);
  z-index: 1000;
  color: #333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-form .contact-form-main {
  position: relative;
  background-color: white;
  width: 500px;
  height: auto;
  padding: 1em 2em;
  border-radius: .75rem;
  -webkit-box-shadow: 3px 3px 3px 0 #777;
          box-shadow: 3px 3px 3px 0 #777;
}

.contact-form .contact-form-main .close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: transparent;
  padding: 0;
}

.contact-form .contact-form-main .close:hover {
  color: #71aaff;
}

.contact-form .contact-form-main .contact-form-header {
  text-transform: uppercase;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 1rem .5rem;
  text-align: center;
  border-bottom: 2px solid #333;
}

.contact-form .contact-form-main .contact-form-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact-form .contact-form-main .contact-form-body label {
  margin-bottom: .25rem;
}

.contact-form .contact-form-main .contact-form-body input {
  margin-bottom: .75rem;
}

.contact-form .contact-form-main .contact-form-body textarea {
  min-height: 60px;
  resize: vertical;
  margin-bottom: .75rem;
}

.contact-form .contact-form-main .contact-form-body .submit {
  color: white;
  margin-top: 1rem;
  background-color: rgba(113, 170, 255, 0.7);
}

.contact-form .contact-form-main .contact-form-body .submit:hover {
  background-color: #71aaff;
}

.header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 90px;
  background-color: #EFEFEF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Montserrat';
  text-align: center;
  padding-block: .75rem;
  z-index: 5;
}

.header .clockwork-logo-text {
  font-family: inherit;
  text-decoration: none;
  color: black;
  font-weight: 900;
  font-size: 1.75rem;
  letter-spacing: .35rem;
}

.header .clockwork-logo-text h1 {
  font-family: inherit;
  font-weight: 900;
  text-transform: uppercase;
}

.header .clockwork-logo-text h1 span {
  font-family: inherit;
  color: #36CBC2;
}

.landing-page {
  background-color: #404040;
  width: 100vw;
  height: 100vh;
  font-family: 'Montserrat';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  position: relative;
}

.landing-page .login-form-overlay {
  background-color: rgba(64, 64, 64, 0.9);
  position: absolute;
  top: 90px;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.landing-page .login-form {
  background-color: #808080;
  padding: 2em 3em;
  width: 25rem;
  height: 30rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 1.5rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-family: 'Montserrat';
  gap: 3rem;
}

.landing-page .login-form-header {
  text-align: center;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.landing-page .login-form-header-text {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.75rem;
  font-family: inherit;
  letter-spacing: .25rem;
}

.landing-page .login-form-header .close {
  position: absolute;
  padding: 0;
  background-color: transparent;
  right: -1rem;
  top: 0;
}

.landing-page .login-form-field {
  -ms-flex-item-align: center;
      align-self: center;
  width: 20rem;
  margin: 0 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.landing-page .login-form-field-label {
  position: relative;
  margin-bottom: .5rem;
}

.landing-page .login-form-field-label-icon {
  position: absolute;
  top: 0;
  left: 0;
}

.landing-page .login-form-field-label-text {
  margin-left: 2rem;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: .25rem;
}

.landing-page .login-form-field-input {
  outline: none;
  border: none;
  border-radius: .25rem;
  padding: .5em .25em;
  width: 100%;
}

.landing-page .login-form .login {
  font-size: 1.5rem;
}

.landing-page-welcome {
  margin-top: 5rem;
  font-family: inherit;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 6rem;
  letter-spacing: .35rem;
  text-align: center;
  color: white;
}

.landing-page-welcome span {
  font-family: inherit;
  color: #36CBC2;
}

.landing-page .login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: inherit;
  padding: .25em 1em;
  border-radius: 5rem;
  background-color: #36CBC2;
  text-transform: uppercase;
  color: white;
  font-weight: 700;
  font-size: 1.75rem;
  gap: 1.5rem;
  -webkit-transition: 150ms ease-in;
  transition: 150ms ease-in;
}

.landing-page .login:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.landing-page-clockwork-logo {
  -webkit-transform: rotate(0);
          transform: rotate(0);
  -webkit-transition: -webkit-transform 600ms ease-in-out;
  transition: -webkit-transform 600ms ease-in-out;
  transition: transform 600ms ease-in-out;
  transition: transform 600ms ease-in-out, -webkit-transform 600ms ease-in-out;
}

.landing-page-clockwork-logo:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.left-section {
  width: 20%;
  padding: 1.75em 1.5em;
  background-color: #7d7d7d;
  position: fixed;
  height: 100vh;
  z-index: 999;
}

.navbar {
  margin-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-content: center;
}

.navbar .btn {
  margin-bottom: .75rem;
  background-color: white;
  color: black;
  -webkit-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
}

.navbar .btn:hover {
  color: white;
  background-color: black;
}

.navbar .accounts {
  margin-bottom: 3.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 2px solid white;
}

.navbar .accounts .accounts-header {
  text-transform: uppercase;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  letter-spacing: .1rem;
  margin: 1rem;
  text-align: center;
  color: white;
}

.navbar .accounts .accounts-select {
  width: 80%;
  margin-bottom: 1.5rem;
  padding: .5em .75em;
  font-family: inherit;
  font-weight: 600;
  outline: none;
  border: 1px solid black;
  border-radius: .25rem;
}

.form {
  margin-top: 3.25rem;
  border-top: 2px solid white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  color: white;
}

.form .form-header {
  text-transform: uppercase;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  letter-spacing: .1rem;
  margin: 1rem;
  text-align: center;
}

.form label {
  margin: .25rem 0;
}

.form input {
  padding: .5em .75em;
  font-size: .75rem;
  font-weight: 300;
  outline: none;
  border-radius: .25rem;
  border: 3px solid rgba(0, 0, 0, 0.6);
  -webkit-transition: border 150ms ease-in-out;
  transition: border 150ms ease-in-out;
}

.form input:hover, .form input:focus {
  border: 3px solid black;
}

.form .btn {
  margin: 2rem 0;
  background-color: white;
  color: black;
  -webkit-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
}

.form .btn:hover {
  color: white;
  background-color: black;
}

.main {
  display: -ms-grid;
  display: grid;
  height: 100%;
  -ms-grid-columns: (minmax(500px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  gap: 1rem;
  width: 80%;
  padding: 4.75em 1em;
  background-color: #e6e6e6;
  margin-left: 20%;
}

.horizontal-navbar {
  background-color: #646464;
  position: fixed;
  top: 0;
  left: 20%;
  padding: 1.25em;
  width: 100%;
  grid-column: 1 / -1;
  color: white;
  z-index: 998;
}

.detail-header {
  background-color: white;
  grid-column: 1 / -1;
  width: calc(100% + 1em);
  margin: -.95em -1em;
  margin-right: 0;
  margin-bottom: .075rem;
  padding: 1em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(100px, 1fr))[9];
      grid-template-columns: repeat(9, minmax(100px, 1fr));
  font-size: 1rem;
}

.detail {
  width: calc(100% - 1em);
  grid-column: 1 / -1;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[9];
      grid-template-columns: repeat(9, 1fr);
  font-size: .75rem;
}
/*# sourceMappingURL=main.css.map */